body{
    font-family:'Knewave';
    margin: 0;
}

.navbar{
    padding: 0;
}

.navbar>.container{
    justify-content: flex-start;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

#logo-img{
    width: 55px;
    height: 55px;
    float: left;
}

.navbar-toggler:focus,.navbar-toggler:active,.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

button.navbar-toggler{
    margin-right: 15px;
}

.navbar>.container a{
    text-decoration: none;
}

.navbar>.container h4{
    color: #2b2c2c;
}

.navbar-nav{
    margin-left: auto;
}

#contactUs-cover .container-fluid{
    padding: 0; 
}

.container-fluid .jumbotron{
    background-image: url('../img/cover/cover-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter:brightness(90%) saturate(110%) contrast(90%);
    height: 350px;
    position: relative;
}

#contactUs-cover-text{
    width: 100%;
    position: absolute;
    top: 50%;
}

#main-content, footer{
    background-color: #4A5864;
    height:auto;
    font-family: "微軟正黑體", sans-serif;
}

#main-content a{
    text-decoration: none;
}

#main-content .row{
    width: 50%;
}

#share-media div{
    background-color: #4A5864;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#share-media img{
    width: 30px;
    height: 30px;
    margin: 0 20px;
}

#copyright{
    font-size: 12px;
}

@media only screen and (max-width:992px){
    .navbar>.container {
        margin: 10px 25px;
    }
    #logo-img{
        width: 48px;
        height: 48px;
    }
    #main-content .row{
        width: 80%;
    }
}