body{
    font-family:'Knewave';
    margin: 0;
    /* box-sizing: border-box; */
}

.navbar>.container{
    justify-content: flex-start;
    margin: auto;
    margin-top: 10px;
    padding: 0;
}

#logo-img{
    width: 60px;
    height: 60px;
}

#cover-img{
    background-image:url('../img/cover/cover-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    filter:brightness(100%) saturate(130%) contrast(90%);
}

#cover-text{
   font-size: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   left: 38%;
   top: 55%;
}

.navbar-toggler:focus,.navbar-toggler:active,.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

button.navbar-toggler{
    margin-right: 15px;
}

.navbar-light .navbar-toggler{
    border: 1px solid #4A5864;
}

.navbar-light .navbar-nav .nav-link{
    color: white;
}

#about-us{
    background-color: #E5C981;
}

#about-us .col-lg-5{
    padding: 0;
}

#about-us .col-lg-7{
    padding-top: 40px;
}

#about-us .col-lg-7 .btn-outline-secondary{
    border: 1px solid #4A5864;
    box-shadow: 2px 3px  #4A5864;
}

div .row-about{
    margin-right: 30px;
}

#about-img{
    width: 40vw;
    height: 300px;
    float: left;
    margin-right: 40px;
}

#our-features{
    background-color: #4A5864;
    height: 350px;
}



@media only screen and (max-width:992px){
    .navbar>.container{
        margin: 10px 30px;
    }
    #logo-img{
        width: 50px;
        height: 50px;
    }
    #about-us .col-lg-5{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }
    #about-img{
        width: 90vw;
        height: 400px;
        margin: 0;
        border-radius: 10px;
    }
    #about-us .col-lg-7{
        padding-left: 45px;
    }
}

@media only screen and (max-width:768px){
}

@media only screen and (max-width:576px){
    #cover-text{
        left: 17%;
        top: 45%;
    }
}