body{
    font-family:'Knewave';
    margin: 0;
}

.navbar>.container{
    justify-content: flex-start;
    margin: auto;
    margin-top: 10px;
    padding: 0;
}

#logo-img{
    width: 55px;
    height: 55px;
}

#cover-img{
    background-image:url('../img/cover/cover-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    filter:brightness(100%) saturate(130%) contrast(90%);
}

#cover-text{
   font-size: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   left: 38%;
   top: 55%;
}

.navbar-toggler:focus,.navbar-toggler:active,.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

button.navbar-toggler{
    margin-right: 15px;
}

.navbar-light .navbar-toggler{
    border: 1px solid #4A5864;
}

.navbar-light .navbar-nav .nav-link{
    color: white;
}

#about-us{
    background-color: #E5C981;
    height: auto;
}

#about-us .col-lg-5{
    padding: 0;
}

#about-us .col-lg-7{
    padding-top: 40px;
}

#about-btn{
    border: 1px solid #4A5864;
    box-shadow: 2px 3px  #4A5864;
}

.row-about{
    margin-right: 30px;
}

.row-about p{
    font-family: "微軟正黑體", sans-serif;
}

#about-img{
    width: 40vw;
    height: 300px;
    float: left;
    margin-right: 40px;
}

#our-features{
    background-color: #4A5864;
    height: auto;
}

#our-features img{
    width: 7vw;
}

div .row-features{
    padding-top: 40px;
}

.features-description, .features-item, .row-footer p{
    font-family: "微軟正黑體", sans-serif;
}

#features-row1{
    padding: 0px 40px;
}

#chef-recommand{
    background-color: rgb(255, 255, 255);
    height: auto;
}

.row-recommand{
    padding-top: 40px;
}

.row-recommand h2{
    color: #E5C981;
}

.row-recommand .btn-outline-warning{
    color: #E5C981;
    border: 1px solid #E5C981;
    box-shadow: 2px 3px  #E5C981;
}

.row-recommand .btn-outline-warning:hover{
    color: white;
}

#recommand-item1{
    background-image: url('../img/main-dish/爐烤百蘭地櫻桃鴨胸.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 280px;
    position: relative;
}

#recommand-item2{
    background-image: url('../img/main-dish/摩洛哥燉羊膝.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 280px;
    position: relative;
}

#recommand-item3{
    background-image: url('../img/spaghetti/明太子\ 鮮蝦\ 奶油義大利麵.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 280px;
    position: relative;
}

#recommand-item4{
    background-image:url('../img/Risotto/農場炸雞佐野菇燉飯.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 280px;
    position: relative;
}

#recommand-item5{
    background-image:url('../img/appetizer/科西嘉島豬肉卷.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 280px;
    position: relative;
}

#recommand-item6{
    background-image:url('../img/appetizer/白絲絨生醃小捲.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 280px;
    position: relative;
}

#recommand-item7{
    background-image:url('../img//main-dish/西班牙海鮮烤飯.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 280px;
    position: relative;
}

#recommand-item8{
    background-image:url('../img/dessert/卡士達草莓塔.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 280px;
    position: relative;
}

#recommand-item1 span,#recommand-item2 span,#recommand-item3 span,#recommand-item4 span,#recommand-item5 span,#recommand-item6 span,#recommand-item7 span,#recommand-item8 span{
    position:absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    display: none;
}

#recommand-item1:hover span, #recommand-item2:hover span, #recommand-item3:hover span, #recommand-item4:hover span, #recommand-item5:hover span, #recommand-item6:hover span, #recommand-item7:hover span, #recommand-item8:hover span{
    display: block;
}

#recommand-row2 .col-md-3:hover{
    filter: brightness(.8);
}

#share-media div{
    background-color: rgb(255, 255, 255);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#share-media img{
    width: 30px;
    height: 30px;
    margin: 0 15px;
}

footer{
    background-color: #E5C981;
    height: auto;
}

.row-footer{
    padding-top: 40px;
}

.row-footer a{
    font-family: "微軟正黑體", sans-serif;
    text-decoration: none;
}

#footer-description{
    width: 24vw;
}

#copyright{
    font-size: 12px;
    margin: 10px 0;
}




@media only screen and (max-width:992px){
    .navbar>.container{
        margin: 10px 30px;
    }
    #logo-img{
        width: 50px;
        height: 50px;
    }
    #about-us .col-lg-5{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }
    #about-img{
        width: 90vw;
        height: 400px;
        margin: 0;
        border-radius: 10px;
    }
    #about-us .col-lg-7{
        padding-left: 45px;
    }
    #recommand-row2, #recommand-btn{
        --bs-gutter-x: 0rem;
    }
    #footer-description{
        width: 42vw;
    }
}

@media only screen and (max-width:768px){
    #our-features img{
        width: 12vw;
    }
    .features-item{
        font-size: 18px;
    }
    #footer-description{
        width: 50vw;
    }
}

@media only screen and (max-width:576px){
    #cover-text{
        left: 17%;
        top: 45%;
    }
    #about-img{
        width: 85vw;
        height: 300px;
    }
    #about-us .col-lg-7 .btn-outline-secondary{
        margin-bottom: 20px;
        font-size: 14px;
    }
    #footer-description{
        width: 70vw;
    }
    
}