body{
    font-family:'Knewave';
    margin: 0;
}

.navbar{
    padding: 0;
}

.navbar>.container{
    justify-content: flex-start;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

#logo-img{
    width: 55px;
    height: 55px;
    float: left;
}

.navbar-toggler:focus,.navbar-toggler:active,.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

button.navbar-toggler{
    margin-right: 15px;
}

.navbar>.container a{
    text-decoration: none;
}

.navbar>.container h4{
    color: #2b2c2c;
}

.navbar-nav{
    margin-left: auto;
}

#menu-cover .container-fluid{
    padding: 0; 
}

.container-fluid .jumbotron{
    background-image: url('../img/cover/cover-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    filter:brightness(90%) saturate(130%) contrast(90%);
    position: relative;
}

#menu-cover-text{
    width: 100%;
    position: absolute;
    top: 50%;
}


@media only screen and (max-width:992px){
    .navbar>.container {
        margin: 10px 25px;
    }
    #logo-img{
        width: 48px;
        height: 48px;
    }
}

@media only screen and (max-width:768px){

}

@media only screen and (max-width:576px){

}
