body{
    font-family:'Knewave';
    margin: 0;
}

.navbar{
    padding: 0;
}

.navbar>.container{
    justify-content: flex-start;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

#logo-img{
    width: 55px;
    height: 55px;
    float: left;
}

.navbar-toggler:focus,.navbar-toggler:active,.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

button.navbar-toggler{
    margin-right: 15px;
}

.navbar>.container a{
    text-decoration: none;
}

.navbar>.container h4{
    color: #2b2c2c;
}

.navbar-nav{
    margin-left: auto;
}

#menu-cover .container-fluid{
    padding: 0; 
}

.container-fluid .jumbotron{
    background-image: url('../img/cover/cover-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    filter:brightness(90%) saturate(130%) contrast(90%);
    position: relative;
}

#menu-cover-text{
    width: 100%;
    position: absolute;
    top: 50%;
}

#main-menu{
    background-color:  #E5C981;
    height: auto;
}

#menu-note{
    height: 250px;
    flex-direction: column;
}

#menu-note p{
    font-family: "微軟正黑體", sans-serif;
    font-size: 16px;
    color: #4A5864;
}

#main-menu .nav-link{
    color: #2b2c2c;
}

#main-menu .nav-link, #menuTabContent .col-lg-3 h6, #beverage .col-md-7 ul li, #drink .col-md-7 ul li{
    font-family: "微軟正黑體", sans-serif;
}

#menuTabContent .col-lg-3 img{
    width: 100%;
    height: 225px;
}

#beverage .col-md-4 img{
    width: 100%;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px;
}


@media only screen and (max-width:992px){
    .navbar>.container {
        margin: 10px 25px;
    }
    #logo-img{
        width: 48px;
        height: 48px;
    }
    #main-menu .container{
        max-width: 90%;
    }
    #beverage .col-12 h5, #drink .col-12 h5{
        font-size: 18px;
    }
    #beverage .col-md-7 ul li, #drink .col-md-7 ul li{
        font-size: 16px;
    }
}

@media only screen and (max-width:768px){
    #beverage .col-md-7 ul li, #drink .col-md-7 ul li{
        font-size: 15px;
    }
}

@media only screen and (max-width:576px){
    #beverage .col-12, #drink .col-12{
        flex-direction: column;
        
    }
}
